
@font-face {
    font-family: 'iconfont';
    src: url('../fonts/iconfont.eot');
    src: url('../fonts/iconfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype'),
        url('../fonts/iconfont.svg#iconfont') format('svg');
}
.iconfont {
    font-family: "iconfont" !important;
    font-size:.32rem;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
html{
    font-size:100px;
}
img{
    vertical-align: top;
}
body{
    width: 100%;
    background: #f2f1f1;
    color:#333;
}
.wrapper{
    margin:0 .2rem;
}
.bg{
    background:#fff;
}
.padding-top{
    padding-top: .2rem;
}

#main{
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}
.header-message,.footer-message{
    height:1rem;
    line-height: 1rem;
    text-align: center;
    background: #dedede;
    color:red;
}
/* 头部 */
.header{
    position: relative;
    margin-bottom: .2rem;
}
    /* 导航 */
.header-nav{
    background: red;
    padding-top:1.2rem;
    font-size: .3rem;
    padding-bottom:3.2rem;
    overflow-x: auto;
}
.header-nav>div{
    display: flex;;
    align-items: center;
    margin-left: .2rem;
    white-space: nowrap;
}
.header-nav a{
    color:#fff;
   padding-right: 0.4rem; 
   font-weight:bold;
   opacity: .8;
}
.header-nav a.act{
    font-size: .34rem;
    color:#fff;
    opacity: 1;
}
    /* 导航end */
    /* banner图 */
.header-imgbox{
    height: 3.5rem;
    position: absolute;
    top:2.2rem;
    overflow: hidden;
    width: 7rem;
}
.header-imgbox img{
    display: none;
    height: 100%;
    width:98%;
    border-radius:.1rem;
    margin:0 .1rem;
}
.header-imgbox img:first-child{
    display: block;
}
    /* 菜单 */
.menu{
    margin-top:1.2rem;
    display: flex;
    align-items: center;
    background: #fff;
}
.menu a{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}
.menu img{
    width:1.45rem;
    height:1.45rem;
}
    /* 菜单end */
    /* 广告 */
.floor-picture{
    display: flex;
    justify-content: space-between;
}
.floor-picture a{
    width:50%;
    height: 2.5rem;
}
.floor-picture img{
    width: 100%;
}
/* 头部end */
/* 限时抢购  */
.flash-sale-wrapper{
    display: flex;
    justify-content:space-between;
    padding-top:.2rem;
    box-shadow: 0 0 .2rem #e1e1e1; 
}
.flash-time-wrapper{
    color:#fff;
    border-radius: .1rem;
    background:url(../images/index/rush.82f4bd14fffee2f211439b7a1767024a.png) no-repeat;
    background-size:contain; 
    width: 1.84rem;
    height: 2.8rem;
    position: relative;
}
.flash-time-wrapper p{
    font-size: 0.24rem;
    position: absolute;
    top: 1.4rem;
    left: .6rem;
    color:#fff;
}
.flash-time-wrapper .time{
    display: flex;
    color:red;
    border-radius: .1rem;
    position: absolute;
    top: 1.95rem;
    left: .35rem;
}
    /* 列表页 */
.flash-sale{
    overflow: hidden;
    width:5.2rem;
    height: 2.8rem;
}
.flash-sale .swiper-wrapper{
    display: flex;
    align-items: center;
}
.flash-sale .swiper-slide{
    height: unset;
    width: 2rem;
    padding: .08rem 0;
}
.flash-sale-list{
    width: 2rem;
}
.flash-sale a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.flash-sale-list p{
    font-size: .24rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.flash-sale-list p:first-child{
    width: 2rem;
    color:#333;
}
.flash-sale-list .price{
    color:#f21c1c;
    font-size:.26rem;
}
.flash-sale-list img{
    width: 1.4rem;
    height: 1.4rem;
}
/* 限时抢购end */
/* 九机头条 */
.floor-tops{
    margin-top: 0.3rem;
    height: 0.68rem;
    background: #fde9e9;
    display: flex;
    align-items: center;
    border-radius: 1rem;
    justify-content: space-between;
    overflow: hidden;
}
.floor-tops-swiper{
    height: 0.68rem;
    overflow: hidden;
}
.floor-tops .tops-img{
    width: 1.36rem;
    margin-left: 0.2rem;
}
.floor-tops .swiper-wrapper{
    display: flex;
    flex-direction: column;
}
.floor-tops-items a{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.floor-tops-items p{
    padding-left: .15rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.floor-tops-items img{
    height: 0.68rem;
    margin-right: -.05rem;
}
.floor-tops-mask{
    position: absolute;
    top: 0;
    right:.3rem;
    width:1rem;
    height: 100%;
    background: linear-gradient(90deg,#fde9e9,hsla(0,0%,100%,0)); 
}
/* 九机头条end */
/* 商品推荐 */
.shop-rec{
    display: flex;
    justify-content: space-between;
}
/* 商品推荐end */
/* 新人礼包 */
.new-gift{
    margin:.2rem 0;
    display: flex;
    justify-content: space-between;
}
.new-gift img{
    width: 100%;
}
/* 新人礼包end */
/* 为你优选 */
.optimization{
    margin-bottom: 0.2rem;
    padding:.2rem 0;
}
.optimization .swiper-wrapper{
    display: flex;
    align-items: center;
}
.optimization .swiper-slide{
    width: unset;
}
.optimization-list a{
    display: flex;
    flex-direction: column;
    width: 2.4rem;
    margin-left:.2rem;
    padding:.2rem;
    box-shadow: 0 0 .2rem #e1e1e1;
    border-radius:.06rem;
}
.optimization-list img{
    width: 2.4rem;
    height: 2.4rem;
}
.optimization-list p{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 0.24rem;
}
.optimization-list p:first-of-type{
    color:#333;
}
.optimization-list .price{
    color:#f21c1c;
}
/* 为你优选end */
/* 手机精品 */
.phone-perfect-floor{
    display: flex;
    justify-content: space-between;
}
/* 手机精品end */

/* 发现好货 */
.find-goods-wrapper{
    margin-top: 0.2rem;
}
.find-goods{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.find-goods a{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 .02rem .2rem #e1e1e1;
    border-radius:.06rem;
    margin-top: 0.3rem;
    padding-bottom:.2rem;
}
.find-goods img{
    width:3rem;
    height:3rem;
}
.find-goods .shop-tit{
    margin-top: .1rem;
    background: #ebf6fe;
    color: #87acd8;
    padding:.1rem .62rem; 
    font-size: 0.26rem;
}
.find-goods .shop-brand{
    color:#333;
}
.find-goods .shop-price{
    color:#f21c1c;
    margin-left: -1rem;
}
/* 发现好货end */
/* 底部 */
