*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100px;
    height: 100%;
} 
body{
    font-size: .28rem;
    font: 14px/1 to,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,"sans-serif";
}
a{
    color: #fff;
}
/* 头部开始 */
.change{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    padding-top: .28rem;
    width: 7.5rem;
    height: 1.88rem;
    background: #e10f02 url(../images/newo/newo54.png) no-repeat 0 0;
    background-size: cover;
}
.change .top{
    width: 6.34rem;
    background: rgba(0,0,0,.4);
    border-radius: .6rem;
    height: .68rem;
    line-height: .68rem;
    padding: 0 .3rem;
    margin:0 auto;
    display: -webkit-flex;
    display: flex;
    color: #fff;
    margin-bottom: .28rem;
}
.change .city span{
    max-width: 1.4rem;
    text-overflow: ellipsis;
    white-space:nowrap;
    overflow:hidden;
}
.change .city i{
    font-size: .26rem;
    margin-right:.1rem;
    line-height: .7rem;
}
.change .search i{
    font-size: .26rem;
    font-weight: 900;
}
.change .search input{
    width: 3.8rem;
    height: .68rem;
    line-height: .68rem;
    background: none;
    outline: 0;
    color: #fff;
    opacity: .6;
    font-size: .24rem;
    border:0 ;
    outline:0;
}
input::-webkit-input-placeholder{
    color: #fff;
    font-size: .24rem;
}
.change .bottom{
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.change .bottom span{
    color: #fff;
    font-weight: 700;
}
/* 头部结束 */

/* 头部样式 */
header{
    display: block;
    width: 100%;
    overflow: auto;
}
.banner{
    background: linear-gradient(#e10f02,#e10f02 70%,#fff 0,#fff);
    margin-top: 1.86rem;
}
.swiper-container{
    width: 7.78rem; 
     margin: 0 auto;
    height: 3.83rem;
    padding:.28rem;
    position: relative;
    border-radius: 0.1rem;

}
.swiper-container .swiper-slide a img{
    width: 6.94rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 0;
    top: 0;
}
/* 结束 */

/* 页面内容样式 */
.headera{
    width: 100%;
    height:1.3rem;
    overflow: hidden;
    background: #fdfdfc;
    font: 1.44rem/0.8rem hiragino sans gb,microsoft yahei,simsun;
    box-shadow: 0.09rem 0.09rem 0.09rem rgba(0,0,0,0.1);
    position: relative;
}

.relative{
    position: relative;
}
.headera .swiper-slide{
    width: 2rem;
    height: 1.1rem;
    font-size: 0.28rem;
    padding: 0 0.42rem;
    width: auto;
}
.headera .sad{
    color: #f21c1c;
    display: block;  
}
.headera .swiper-slide p{
    display: inline-block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;    
}
.headera .swiper-slide .zhouyi{
    width: 1.4rem;
    position: absolute;
    top: 0.3rem;
    left: 0.4rem; 
    font-size: 0.26rem;
    color: #999;
}
.absolute{
    position: absolute;
}
.headera .zou{
    left: 0;
    background: linear-gradient(90deg,#fff,hsla(0,0%,100%,0)); 
    z-index: 2;
}
.headera .you{
    right:0px;
    background: linear-gradient(90deg,hsla(0,0%,100%,0),#fff);
    z-index: 2;
}
.headera .mask{
    top: 0;
    bottom: 0;
    width: 0.5rem;
    pointer-events: none;
}
.headera .swiper-scrollbar{
    position: absolute;
    top:1.1rem;
    left: 0;
}
.headera .swiper--slide{
    width: 1.7rem;
    flex-direction: column;
    align-items: center;
}
/* 倒计时 */
.timetip {
    border-bottom: 0.04rem dotted #f21c1c;
    margin: 0.4rem 0.3rem;
    position: relative;
    height: 0.14rem;
}
.text-center {
    text-align: center;
}
.timetip .rush-timer {
    width: 4rem;
    background: #fff;
    position: absolute;
    left: 50%;
    margin-left: -2rem;
    color: #f21c1c;
    font: 14px/1 to,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,"sans-serif";
}
.timetip .rush-timer span {
    background: none;
    color: #f21c1c;
    padding: 0;
}
/* 结束 */
/* 商品列表 */
.rush-product-item{
    padding: .2rem;
    border: #000;
}
.border-bottom{
    position: relative;
    border: 0;
    color: black;
}
.flex{
    display: flex;
}
.rush-img{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.2rem;
}
.lazy-img{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
.flex-child-noshrink{
    flex-shrink: 0;
}
img{
    vertical-align: top;
}
.flex-col{
    flex-direction: column;
}
.lines-2{
    -webkit-line-clamp:2;
    line-height: 1.2;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    word-break: break-all;
}
.font-15{
    font-size:0.3rem;
}
a{
    color: #000;
    text-decoration: none;
}
.selling-point{
    margin-top: 0.1rem;
}
.grey-9{
    color: #9c9c9c;
}
.flex-align-end{
    align-items: flex-end;
}
.margin-right {
    margin-right: 0.1rem;
}
.font-12 {
    font-size: 0.24rem;
}
.bold{
    font-weight: 700;
}
.font-20 {
    font-size: 0.4rem;
}
.flex-1{
    margin-top: 0.2rem;
}
.percent{
    margin-top: 0.1rem;
}
.flex-align-center{
    align-items: center;
}
.percent p{
    width: 3.3rem;
    border: 0.01rem solid #fa6571;
    border-radius: 0.16rem;
    height: 0.32rem;
    line-height: 0.28rem;
    overflow: hidden;
    margin-left: 0.1rem;
    position: relative;
    background: #ffebeb;
}
.percent p span{
    position: absolute;
    left:0.14rem;
    top: 0.02;
    color: #fff;
    z-index: 3;
}
.percent p i{
    width: 40%;
    height: 1.2rem;
    position: absolute;
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    background:#fa6571;
    border-radius: 0.12rem;
}
.rush-btn{
    width: 1.4rem;
    height: 0.6rem;
    text-align: center;
    line-height: 0.6rem;
    color: #fff;
    border-radius: 0.6rem;
    margin-left: .2rem;
}
.red-bg{
    background-color:#f21c1c;
}
/* 结束 */
.car-bott{
    position: fixed;
    left: 0;
    bottom: 1.2rem;
    z-index: 200;
    width: 7.5rem;
    height: 1.14rem;
    bottom: 0;
    height: 1rem;
    background: #fff;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    align-items: center;
}
.car-bott div{
    flex:1
}
.car-bott i{
    font-size: .48rem;
    width: .48rem;
    height: .48rem;;
}
.car-foot .car-none{
    display: none;
}
.car-foot .car-none2{
    background: #ff6700;
}
/* 结束 */
