header{
    width: 100%;
    height: .9rem;
    background: cover;
    background: rgba(250, 250, 250,0.98);
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
}
header .gback{
    text-align: center;
    min-width: .9rem; 
    line-height: .9rem;
}
header .gtit{
    text-align: center;
    line-height: .9rem;
    font-size: 0.3rem;
}
header .gmore{
    width: .8rem;
    line-height: .9rem;
    /* text-align: center; */ 
    display: flex;
    align-items: center;
    justify-content: center;
}
header .gmore img{
    width: .3rem;
    height: .4rem;  
}

article{
    padding: .4rem 0 .4rem 0;
    border-bottom: 1px solid #e4e4e4;
}
article .menus{
    width: 100%;
    display: flex;
    /* justify-content: center; */
    align-content : flex-start;
    flex-wrap: wrap;
}
article h1{
    text-align: center;
    width: 100%;
    color: rgb(77, 77, 77);
   font-weight: 400;
}
article p{
    width: 33.33%;
    /* margin: 0 auto; */
    text-align: center;
    margin-top: .4rem;
   

}
article p a img{
    display: block;
  margin: auto;
    width: .9rem;
    height: .9rem;
}
article p a span{
   font-size: 0.12rem;
   color: rgb(82, 81, 81);
}

.popup{
    background: #000;
    width: 100%;
    height: 0rem;
    
    display: flex;
    justify-content: space-between;
    align-content: center;

    

    /* display: none; */
}
.popup a{
    padding-top: .05rem;
    width: 25%;
    height: 1rem;
    color: #838383;
    text-align: center;
    display: none;

}
.popup a i{
    font-size: .34rem;
    
}
.popup a span{
    font-size: .24rem;
}