*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100px;
    height: 100%;
} 
body{
    font-size: .28rem;
    /* font: 14px/1 to,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans, Helvetica Neue,"sans-serif"; */
}
a{
    text-decoration: none;
    color: #000;
}
.app-wrap{
    width: 100%;
    height: 100%;
}
.overflow-hide {
    overflow: hidden;
}
.wrapper {
    max-width: 12.8rem;
}
.search-bar{
    display: block;
    width: 90%;
    height: .64rem;
    line-height: 0.64rem;
    background: #f5f5f5;
    border-radius: 1rem;
    margin: .12rem auto;
    box-sizing: border-box;
    padding: 0 .14rem;
}
.grey-9 {
    color: #9c9c9c;
}
.font-12 {
    font-size: .24rem;
}
.mr-5 {
    margin-right: .1rem;
}
.font-14 {
    font-size: .28rem;
}
/* 搜索框开始 */
.fa {
    display: inline-block;
    font: normal normal normal .28rem/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}
.search-bar span{
    line-height: .64rem;
}
/* 搜索框结束 */

/* 横排标题列表 */
.nav-bar{
    width: 100%;
    height: .72rem;
    overflow-x: auto;
    overflow-y: hidden;
    border-bottom: .02rem solid #dfdfdf;
    box-sizing: border-box;
}
.nav-bar .nav-list{
    white-space: nowrap;
}
.nav-bar .nav-list li.cur{
    color: #f21c1c;
    font-weight: 600;
}
.nav-bar .nav-list li{
    margin: 0 .34rem;
    color: #000;
    line-height: .72rem;
    display: inline-block;
}
.nav-bar .nav-list li span{
    display: inline-block;
    height: 100%;
}
.relative {
    position: relative;
}
.nav-bar .nav-list li.cur span:after {
    content: "";
    display: block;
    width: 100%;
    height: .04rem;
    background: #f21c1c;
    position: absolute;
    left: 0;
    bottom: 0;
}
/* 横排标题列表结束 */
/* 竖排标题列表 */
.content-box{
    width: 100%;
    height: calc(100vh - 1.52rem);
}
/* .select{
    width: 100%;
    height: calc(100vh - 1.52rem);
} */
.flex {
    display: -webkit-flex;
    display: flex;
}
.content-box .nav-left{
    width: 1.7rem;
    height: 100%;
    background: #f5f5f5;
    overflow-y: auto;
}
.content-box .nav-left li.cur{
    background: #fff;
    color: #000;
    font-weight: 600;
}
.content-box .nav-left li{
    height: 0.8rem;
    line-height: 0.8rem;
    color: #666;
}
.content-box .nav-left li span{
    display: inline-block;
    width: 100%;
    text-align: center;
}
.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
}
.nav-left li.cur span:after {
    content: "";
    display: block;
    height: 0.32rem;
    width: 0.04rem;
    background: #000;
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -.16rem;
}
/* 竖排标题列表结束 */

/* 图片列表开始 */
.content-right{
    box-sizing: border-box;
    padding: 0.2rem;
    overflow-y: auto;
}
.flex-child-average {
    -webkit-flex: 1;
    flex: 1;
}
.content-right .goods-box{
    width: 100%;
    box-shadow: 0 0 .1rem .01rem rgba(0,0,0,.05);
    border-radius: .1rem;
}
.flex-wrap {
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}
.content-right .goods-box .goods-item{
    width: 50%;
    padding: .2rem 0;
}
.flex-col {
    -webkit-flex-direction: column;
    flex-direction: column;
}
.flex-center {
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
}
.content-box .content-right .goods-box .goods-item img{
    width: 80%;
    display: block;
    margin-bottom: .1rem;
}
/* .lazy-img{
    -webkit-animation: fadeIn-data-v-8b995f3e .3s ease 0s 1 alternate forwards;
    animation: fadeIn-data-v-8b995f3e .3s ease 0s 1 alternate forwards;
} */
.lazy-img{
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
}
img {
    width: 2.16rem;
    height: 2.16rem;
    vertical-align: top;
}
.lines-1, .lines-2 {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.2;
    word-break: break-all;
}
.lines-2 {
    -webkit-line-clamp: 2;
    height: .6rem;
    padding: 0 .1rem;
    -webkit-box-orient: vertical;
}
/* 结束 */